# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @bladehliu @xiaochunhe @leonrayang @Victor1319 @awzhgw @sjzlsr @mervinkid @wding109 @jzeng4 @hooklee2000 @lizhendong666 @cessory @Cloudstriff @sejust 
